In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("house2.csv")
df.head()

   Unnamed: 0  area_type  size  total_sqft  bath  balcony  price
0           5          0     0           5   2.0      1.0   38.0

In [2]:
df.drop(['Unnamed: 0','price'],axis=1,inplace=True)
df

   area_type  size  total_sqft  bath  balcony
0          0     0           5   2.0      1.0

In [3]:
import joblib
p=joblib.load("houses.joblib")

In [4]:
df

   area_type  size  total_sqft  bath  balcony
0          0     0           5   2.0      1.0

In [5]:
result=p.predict(df)
result

array([49.28714286])

In [6]:
result[0]

49.287142857142854